name: MLOps CI Pipeline

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-train-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Train ML model
      run: |
        python src/train.py

    - name: Run unit tests
      run: |
        pytest tests || echo "No tests found, skipping"

    - name: Docker build check
      run: |
        docker build -t heart-disease-mlops .
